<div class="container mt-3">
  <h1 class="fs-1 text-center text-white">Builds Hub</h1>
  <p class="text-center text-white">Explore Powerful PC Builds 🔥</p>

  <div [@listAnimation] class="mt-5">
    <div class="card text rounded-5 mb-3">
      <div class="card-header px-5 display-6 fs-4">Recommended For You</div>
      <div class="card-body">
        <div class="row">
          @for (item of recommended; track $index) {
          <div class="col-3 ms-3 my-3" style="width: 18rem">
            <div class="card hover rounded-5">
              <img
                [src]="item.image"
                class="card-img-top rounded-5 img-fluid"
                style="height: 200px"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">
                  Price: ${{ item.price }} <br />QTY: {{ item.quantity }}
                </p>
                <div class="d-flex gap-2">
                  <a href="#" class="btn btn-success rounded-pill"
                    >View Details</a
                  >
                  <a href="#" class="btn btn-outline-primary rounded-pill"
                    >Like</a
                  >
                </div>
                <p class="mt-4 mb-0">1450+ found this helpful</p>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div [@listAnimation] class="mt-5">
    <div class="card text rounded-5 mb-3 w-auto">
      <div class="card-header px-5 display-6 fs-4">Trending Builds</div>
      <div class="card-body">
        <div class="row">
          @for (item of trending; track $index) {
          <div class="col-3 ms-3 my-3" style="width: 18rem">
            <div class="card hover rounded-5">
              <img
                [src]="item.image"
                class="card-img-top rounded-5 img-fluid"
                style="height: 200px"
              />
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">
                  Price: ${{ item.price }} <br />QTY: {{ item.quantity }}
                </p>
                <div class="d-flex gap-2">
                  <a href="#" class="btn btn-success rounded-pill"
                    >View Details</a
                  >
                  <a href="#" class="btn btn-outline-primary rounded-pill"
                    >Like</a
                  >
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>

  <div
    class="my-5 d-flex align-items-center gap-4 justify-content-center flex-column"
  >
    <h1 class="display-1 fs-1 text-white">
      Have a build in mind? Start from scratch here
    </h1>
    <a href="#" class="btn btn-success rounded-pill">Build My Own PC</a>
  </div>
</div>
