<section class="notfound-section">
  <div class="overlay">
    <h1 class="typing-text">System Error: 404 Not Found</h1>

    <div class="container error-content">
      <img [src]="notFoundImage" alt="404 Error" style="width: 24rem" />

      <p class="error-desc">
        Looks like the page you’re searching for couldn’t load into memory. It
        might’ve been unplugged, deleted or just hiding in another dimension.
      </p>

      <div class="d-flex gap-3 justify-content-center mt-4">
        <button class="cta-button" routerLink="">Return Home</button>
        <button class="secondary-button" routerLink="">Contact Support</button>
      </div>
    </div>
  </div>
</section>

<section class="marquee-section">
  <div class="marquee">
    <span class="marquee-item">404 • SYSTEM FAILURE • PAGE NOT FOUND •</span>
    <span class="marquee-item">404 • SYSTEM FAILURE • PAGE NOT FOUND •</span>
    <span class="marquee-item">404 • SYSTEM FAILURE • PAGE NOT FOUND •</span>
  </div>
</section>
